version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: cinedata-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./userService
    container_name: cinedata-backend
    ports:
      - "8000:8000"
    depends_on:
      - mongo
    environment:
      - MONGO_URL=mongodb://mongo:27017
    restart: always

  frontend:
    build: ./frontend
    container_name: cinedata-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    restart: always

volumes:
  mongo_data:
